:root {
	--bg-color: #c7bbbb;
  --bg-gradient: #add0e0;
  --bg-accent-gradient-from: #e7e7e7;
  --bg-accent-gradient-to: #1a1a1a;

  --accent-color: #000;
	--text-color: #3a59a3;

  --gradient-point: .01%;
  --gradient: repeating-linear-gradient(to left, var(--bg-gradient) 0 1px, transparent 3px 2px),
              repeating-linear-gradient(to bottom, var(--bg-gradient) 0 1px, transparent 3px 2px),
              linear-gradient(var(--bg-accent-gradient-from) var(--gradient-point), var(--bg-accent-gradient-to));
  --gredient-to-bottom: linear-gradient(
                        to bottom,
                      rgb(0 0 0 / 1),
                      rgb(0 0 0 / 0.9) 10%,
                      rgb(0 0 0 / 0) 40%,
                      rgb(0 0 0 / 0) 100%
                      );
}

html,
body {
	min-height: 100%;
}

body {
	color: #000000;
	font-family: 'PT Sans Narrow', sans-serif;
	font-weight: 400;
	background-color: #868383;

	/* background: #F8D353;
	background: -webkit-linear-gradient(top left, #F8D353, #FF5C5A);
	background: -moz-linear-gradient(top left, #F8D353, #FF5C5A);
	background: linear-gradient(top left, #F8D353, #FF5C5A); */

	background-image: var(--gradient);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;

/*	background: #B0D09C;
	background: -webkit-linear-gradient(top left, #B0D09C, #4B8244);
	background: -moz-linear-gradient(top left, #B0D09C, #4B8244);
	background: linear-gradient(top left, #B0D09C, #4B8244);*/
	
/*	background: #B5DBDC;
	background: -webkit-linear-gradient(top left, #B5DBDC, #A8C6D4);
	background: -moz-linear-gradient(top left, #B5DBDC, #A8C6D4);
	background: linear-gradient(top left, #B5DBDC, #A8C6D4);*/
	
/*	background: #DFA2B9;
	background: -webkit-linear-gradient(top left, #DFA2B9, #EBC48D);
	background: -moz-linear-gradient(top left, #DFA2B9, #EBC48D);
	background: linear-gradient(top left, #DFA2B9, #EBC48D);*/
}

img {
	display: block;
	max-width: 100%;
	height: auto;
	max-height: 350px;
}

.wrapper {
	max-width: 1170px;
	margin-right: auto;
	margin-left: auto;
	padding-top: 10px;
	text-align: center;
	/* padding-top: 50px; */
}

.name {
	margin: 0;
	color: var(--text-color);
	font-family: 'Oranienbaum', cursive;
	font-weight: 400;
	font-size: 58px;
	line-height: 1.5;
	/* color: #fff; */
}

.title {
	margin: 0;
	color: var(--text-color);
	font-weight: 400;
	font-size: 36px;
	line-height: 1.5;
	/* color: #fff; */
}

.hidden {
	display: none;
}

.copyright {
	margin-bottom: 10px;
	opacity: .8;
} 

.copyright p {
	/* color: var(--accent-color); */
	color: var(--accent-color);
	font-weight: 600;
	font-size: 18px;
}

.copyright a {
	color: var(--text-color);
	text-decoration: underline;
}